* {
    margin: 0;
    padding: 0; 
    background: #514d4d; 
    color: whitesmoke;   
    font-family: 'Kalam', cursive;  
    font-size: 40px;    
}

.container {
    margin: 20px;
    padding: 20px;
    text-align: center;
    align-content: center;
}

.toConvert{
    border: none;
    border-bottom: solid white;
    margin-top: 50px;
    width: 900px;
}

.button {    
    padding: 0.3% 1% 0.3% 1%;
    border-style: solid;
    border-width: 5px;
    margin-bottom: 40px;
    border-radius: 15px;    
}
